<div class="my-container">
  <div class="overlay"></div>
  <div class="row">
    <div class="col-lg-6">
      <div class="text-container-content">
        <div class="about-me-content">
          <div>
            <fa name="quote-left"></fa>
            I'm Najmedine Mannaii, computer science engineer student at the National High School of Engineers of
            Tunis. I'm fond on Full and MEAN stack developpement. I'm creative, organized and hard worker.
            <fa name="quote-right" class="ml-2"></fa>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">

      <div class="text-container-heading">
        <div class="about-me-heading">
          <span>About Me?</span>
        </div>
      </div>

    </div>
  </div>
</div>
