<div class="menu">
  <ul class="navigation">
    <li data-menuanchor="home"><a href="#home" id="home" [@urlInOut]="url == '#home' ? 'url-in' : 'url-out'">Home</a></li>
    <li data-menuanchor="about-me"><a href="#about-me" id="about-me"[@urlInOut]="url == '#about-me' ? 'url-in' : 'url-out'">About me</a></li>
    <li data-menuanchor="resume"><a href="#resume" id="resume">Resume</a></li>
    <li data-menuanchor="projects"><a href="#projects" id="projects">Project</a></li>
    <li data-menuanchor="contact"><a href="#contact" id="contact">contact</a></li>
  </ul>
</div>
