<div id="svg-container" class="w-100 h-100">
  <div class="overlay"></div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <!-- text container and so on -->
      <div class="text-container">
        <div class="text-wrapper">
          <div class="name-container">
            <span id="first-name">Najmedine</span>
            <span id="last-name">Mannaii</span>
          </div>
          <div class="typewriter">
            <span class="about-me"></span>
          </div>
          <!-- <img id="signature" src="assets/signature.svg" alt="signature"> -->
          <svg id="signature" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 732.904 416.059">
            <defs>
              <style>
                .a,
                .b {
                  fill: none;
                }

                .a {
                  stroke: #fff;
                  stroke-width: 5px;
                }
              </style>
            </defs>
            <g transform="translate(-216.397 -196.205)">
              <path class="a" d="M2082.111,495.419c0,73.4-259.781,23.178-42.492-32.835s596.82-46.355,284.89,59.875-562.054,197.974-593.923,211.495-24.143-228.878,109.127-88.847,93.676,125.545,80.156,111.059-114.922-278.13-66.635-233.706,32.835,28.972,32.835,28.972"
                transform="translate(-1496 -230)" />
              <path class="a" d="M1979.744,620.964c-14.486-37.663-63.738,19.315-28.006,10.623s26.075-14.486,17.383-33.8,183.488,338.971,60.841,216.323-11.589-291.65,10.623-240.466S2057,613.238,2057,613.238s-19.315-102.367,13.52-28.006-28.006-100.436,5.794-41.526,27.041,47.321,27.041,47.321-26.075-44.423,12.554-56.978,15.452-47.321,0-33.8-21.246,98.5,12.554,84.984,54.081-24.143,54.081-24.143"
                transform="translate(-1496 -230)" />
              <circle class="b" cx="7" cy="7" r="7" transform="translate(461 343)" />
            </g>
          </svg>
        </div>
      </div>
      <!-- /text container and so on -->
    </div>
    <div class="col-lg-6 col-md-12">

      <div class="avatar-container">
        <img id="avatar" src="assets/avatar.jpeg" alt="me">
      </div>

    </div>
  </div>
</div>
