/* You can add global styles to this file, and also import other style files */
@import url('~fullpage.js/dist/fullpage.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Raleway:300,400,500,600,700,800,900');


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px white;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      border-radius: 50%;
      left: 0;
      bottom: 0;
      background-color: #fff;
      box-shadow: 0 0 1px #fff;
      transition: height 0.3s;

   }
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
     width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px white;

   &::after {
     height: 100%;
   }
}
